<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选择系统</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .middle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div class="middle">
        <ul>
{{/*            todo 点击生成access_token并且链接跳转*/}}
            <li><a href="/login?redirect_url=http://baidu.com">OMS</a></li>
            <li><a href="/login?redirect_url=http://baidu.com">TMS</a></li>
            <li><a href="/login?redirect_url=http://baidu.com">CRM</a></li>
        </ul>
    </div>
</body>
</html>